<%- include("header") -%> <!-- including header -->
<body>
    <section class="main">
<!-- navbar -->
<%- include("navbar") -%> 
<%- include("list") -%> <!-- including list -->
    </section>
<!-- main -->

</body>
</html>