<!-- sectionals -->
<section class="horizonal">
<!-- main container -->
<div class="list_cont">
<div class="list_main">
  <div class="list_title" contenteditable="true">Title</div>
<!-- main where all list were push through js -->
  <div class="list_drum">
<div class="list_item">
    <p class="do">list</p>
    <div class="btns">
        <button class="item_del">do</button>
        <button class="item_edit">edit</button>
    </div>
</div>
  </div>
</div>
</div>
<!-- main ends here -->
<!-- main container -->
<div class="list_cont">
    <div class="list_main">
      <div class="list_title" contenteditable="true">Title</div>
    <!-- main where all list were push through js -->
      <div class="list_drum">
    <div class="list_item">
        <p class="do">list</p>
        <div class="btns">
            <button class="item_del">do</button>
            <button class="item_edit">edit</button>
        </div>
    </div>
      </div>
    </div>
    </div>
    <!-- main ends here -->
    
</section>